/**
 * Structure of a forum post
 * div.forumpost(.read.unread)
 *     div.header.row
 *         div.picture.left
 *         div.topic(.starter)
 *             div.subject
 *             div.author
 *     div.row
 *         div.side.left
 *         div.content-mask
 *             div.content
 *                 div.attachments
 *                 div.posting(.shortenedpost|.fullpost)
 *                     // message
 *                 div.attachedimages
 *                     // attachedimages
 *     div.row
 *         div.left
 *         div.options
 *             div.commands
 *             div.post-word-count
 *             div.forum-post-rating
 *             div.link
 *             div.footer
 */

 .path-mod-communityforum .forumpost {
    background-color: #ffffff;
    display: block;
    position: relative;
    margin: 0 0 1em 0;
    padding: 17px 0px 0px 7px;
    border-radius: 0px;
    border: none;
    border-top: 1px solid #e9e9e9;
    max-width: 70%;
}

.path-mod-communityforum .forumpost .row {
    width: 100%;
    position: relative;
}

.path-mod-communityforum .forumpost .row .left {
    float: left;
    overflow: hidden;
    width: 76px;
}


.path-mod-communityforum .forumpost .row .left .grouppictures a {
    text-align: center;
    display: block;
    margin: 6px 2px 0 2px;
}

.path-mod-communityforum .forumpost .row .left .grouppicture {
    width: 20px;
    height: 20px;
}

.path-mod-communityforum .forumpost .author  {
    color: #93a2aa;
}

.path-mod-communityforum .forumpost .author a {
    color: #497E99;
    text-decoration: none;
}

.path-mod-communityforum .forumpost .row .topic,
.path-mod-communityforum .forumpost .row .content-mask,
.path-mod-communityforum .forumpost .row .options {
    margin-left: 43px;
}

.path-mod-communityforum .forumpost .picture img {
    margin: 4px;
    height: 58px;
    width: 58px;
    
}

.path-mod-communityforum .forumpost .options .commands,
.path-mod-communityforum .forumpost .content .attachments,
.path-mod-communityforum .forumpost .options .footer,
.path-mod-communityforum .forumpost .options .link {
    text-align: right;
}

.path-mod-communityforum .forumpost .options .forum-post-rating {
    float: left;
}

.path-mod-communityforum .forumpost .content .posting {
    overflow: auto;
    max-width: 100%;
}

.path-mod-communityforum .forumpost .content .attachedimages img {
    max-width: 100%;
}

.path-mod-communityforum .forumpost .post-word-count {
    font-size: .85em;
    font-style: italic;
}

.path-mod-communityforum .forumpost .shortenedpost .post-word-count {
    display: inline;
    padding: 0 .3em;
}

.path-mod-communityforum .forumolddiscuss,
#page-mod-communityforum-search .c0 {
    text-align: right;
}

.path-mod-communityforum .indent {
    margin-left: 3%;
}

.path-mod-communityforum .forumheaderlist {
    width: 100%;
    /*border-width: 1px;
    border-style: solid;*/
    border-collapse: separate;
    margin-top: 10px;
}

.path-mod-communityforum .forumheaderlist td {
    border-width: 1px 0 0 1px;
    border-style: none;
}

.path-mod-communityforum .forumheaderlist th.header.replies .iconsmall {
    margin: 0 .3em;
}

.path-mod-communityforum .forumheaderlist .picture {
    width: 35px;
}

.path-mod-communityforum .forumheaderlist .discussion .starter {
    vertical-align: middle;
}

.path-mod-communityforum .forumheaderlist .discussion .pinned img {
    padding: 5px;
}

.path-mod-communityforum .forumheaderlist .discussion .lastpost {
    white-space: nowrap;
    text-align: right;
}

.path-mod-communityforum .forumheaderlist .replies,
.path-mod-communityforum .forumheaderlist .discussion .author {
    white-space: nowrap;
}

.path-mod-communityforum .forumheaderlist thead .discussionsubscription {
    text-align: center;
}

/** Styles for subscribers.php */
#page-mod-communityforum-subscribers .subscriberdiv,
#page-mod-communityforum-subscribers .subscribertable {
    width: 100%;
    vertical-align: top;
}

#page-mod-communityforum-subscribers .subscribertable tr td {
    vertical-align: top;
}

#page-mod-communityforum-subscribers .subscribertable tr td.actions {
    width: 16%;
    padding-top: 3em;
}

#page-mod-communityforum-subscribers .subscribertable tr td.actions .actionbutton {
    margin: 0.3em 0;
    padding: 0.5em 0;
    width: 100%;
}

#page-mod-communityforum-subscribers .subscribertable tr td.existing,
#page-mod-communityforum-subscribers .subscribertable tr td.potential {
    width: 42%;
}

/** Styles for discuss.php **/
#page-mod-communityforum-discuss .discussioncontrols {
    width: 100%;
    margin: 5px;
}

#page-mod-communityforum-discuss .discussioncontrols .controlscontainer {
    width: 100%;
    float: right;
}

#page-mod-communityforum-discuss .discussioncontrols .discussioncontrol {
    float: left;
}

#page-mod-communityforum-discuss .discussioncontrol.exporttoportfolio {
    text-align: left;
}

#page-mod-communityforum-discuss .discussioncontrol.displaymode {
    padding-right: 10px;
}

#page-mod-communityforum-discuss .discussioncontrol.movediscussion {
    padding-right: 10px;
}

/** Styles for view.php **/
#page-mod-communityforum-view .forumaddnew {
    margin-bottom: 20px;
}

#page-mod-communityforum-view .groupmenu {
    float: left;
    text-align: left;
    white-space: nowrap;
}

#page-mod-communityforum-index .subscription,
#page-mod-communityforum-view .subscription {
    float: right;
    text-align: right;
    white-space: nowrap;
    margin: 5px 0;
}

/** Styles for search.php */
#page-mod-communityforum-search .introcontent {
    padding: 15px;
    font-weight: bold;
}

.path-mod-communityforum span.unread a:first-child {
    padding-right: 10px;
}

.path-mod-communityforum span.unread img {
    margin-left: 5px;
}

/** Unknown Styles ??? */
#email .unsubscribelink {
    margin-top: 20px;
}

/* Forumpost unread
-------------------------*/
.path-mod-communityforum .forumpost.unread .row.header,
.path-course-view .unread,
span.unread {
    background-color: #ffd;
}

.path-mod-communityforum .forumpost.unread .row.header {
    border-bottom: 1px solid #ddd;
}

/* Forumpost hash anchor target */
.path-mod-communityforum :target ~ .forumpost:before {
    display: block;
    content: '';
    width: 4px;
    position: absolute;
    background: #0070a8;
    left: -1px;
    top: -1px;
    bottom: -1px;
}

/* Discussion navigation */
.path-mod-communityforum .discussion-nav {
    margin: .5em 0;
}

.path-mod-communityforum .discussion-nav ul {
    margin: 0;
    list-style: none;
}

.path-mod-communityforum .discussion-nav .prev-discussion:before {
    /*rtl:raw:
    content: ' ► ';
    */
    /*rtl:remove*/
    content: ' ◄ ';
}

.path-mod-communityforum .discussion-nav .next-discussion:after {
    /*rtl:raw:
    content: ' ◄ ';
    */
    /*rtl:remove*/
    content: ' ► ';
}

.path-mod-communityforum .discussion-nav .next-discussion {
    float: right;
}

.path-mod-communityforum .discussion-nav .prev-discussion {
    float: left;
}

.path-mod-communityforum .preload-subscribe {
    background: url([[pix:mod_forum|t/subscribed]]) no-repeat -9999px -9999px;
}

.path-mod-communityforum .preload-unsubscribe {
    background: url([[pix:mod_forum|t/unsubscribed]]) no-repeat -9999px -9999px;
}

.path-mod-communityforum .discussionsubscription {
    margin-top: -10px;
    text-align: right;
    margin-bottom: 10px;
}

.path-mod-communityforum .discussionsubscription > a > img {
    width: 12px;
    padding: 0 4px;
}

#page-mod-communityforum-view img.timedpost {
    margin-right: 5px;
}


.path-mod-communityforum .link_control_foro{
    font-family: roboto;
    font-size: 1.3em;
    color: #919191;
    margin-left: 15px;
}

.path-mod-communityforum .commands{
    margin-top: 25px;
}




/*categorias*/

.category-communityforum{

    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 20px;
    position: relative;
    z-index: 20;
    display: block;
    height: 30px;
    cursor: pointer;
    color: #777;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    line-height: 33px;
    font-size: 19px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
    background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3), 1px 0px 0px 0px rgba(255,255,255,0.9) inset, 0px 2px 2px rgba(0,0,0,0.1);

}

#loader{
    background-image:url([[pix:mod_communityforum|loading]]);
    background-repeat: no-repeat;
    height: 74px;
    

}


.path-mod-communityforum table {
     width: 100%;


  }

  .path-mod-communityforum thead {
       border-bottom: 1px solid #e9e9e9;

  }


.path-mod-communityforum .discussion {
     border-bottom: 1px solid #e9e9e9;


  }

  .path-mod-communityforum td{
    padding: 12px 0 12px 0;
  }